@import "~snowball/sass/variables.scss";
@import "~snowball/sass/reset.scss";
@import "~snowball/sass/app.scss";

@import "iconfont/iconfont.css";

$app_bgc: #f4f4f4;

/* 默认样式 */
.app_def_mb { margin-bottom: .08rem; }

.app-header { background-color: #fff; }

.app-card { background-color: #fff; border-radius: 8px; padding-bottom: 1px; margin: 0 8px 10px 8px; }

/* 搜索 */
.app_search { height: 30px; border-radius: 15px; background: #fff; overflow: hidden; padding-left: 8px; margin-left: 10px; margin-right: 10px; }
.app_search .icon-search { color: #999; font-size: 18px; }
.app_search input { display: block; border: 0; height: 100%; padding-left: 5px; color: #333; font-size: 12px; }

.app-button { color: #fff; background-color: #f23030; height: 30px; border-radius: 15px; padding: 0 10px; }
.app-button-solid { color: #f23030; border: 1px solid #f23030; background-color: #fff; height: 30px; border-radius: 15px; padding: 0 10px; }
.app-button-solid.small, .app-button.small { height: 24px; border-radius: 12px; }

.app-button-gradient { width: 100%; display: block; height: 36px; border-radius: 20px; text-align: center; background-image: linear-gradient(90deg,#ff4700,#f23030); color: #fff; font-size: 14px; }


.app-check { display: inline-block; width: 16px; height: 16px; border: 1px solid #999; border-radius: 8px; line-height: 14px; }
.app-check i { margin-left: -1px; }
.app-check i::before { visibility: hidden; font-weight: bold; color: #999; }
.app-check.checked { border-color: #f23030; background-color: #f23030; }
.app-check.checked i::before { visibility: visible; color: #fff; }
.app-check.disabled { background: #ddd; border-color: #999; }
.app-check.disabled i::before { color: #999; }

.app-choose-number input { border: 0; background-color: #f7f7f7; height: 30px; width: 50px; margin: 0 1px; padding-left: 5px; padding-right: 5px; text-align: center; }
.app-choose-number .minus, .app-choose-number .plus { background-color: #f7f7f7; height: 30px; width: 30px; color: #999; font-size: 16px; }
.app-choose-number .minus { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.app-choose-number .plus { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.app_form_item { @extend .flex; padding: 12px 10px; background-color: #fff; }
.app_form_item::after { border-color: #eee; }
.app_form_label { font-size: 13px; width: 65px; }
.app_form_input { flex: 1; font-size: 13px; color: #000; }
.app_form_input input[type=text], .app_form_input input:not(type), .app_form_input textarea { display: block; width: 100%; border: 0; color: #000; font-size: 13px; }

.app_tag_item { padding: 0 10px; border-radius: 15px; height: 30px; float: left; color: #333; line-height: 30px; margin-right: 8px; font-size: 14px; position: relative; }
.app_tag_item::after { @include border(#ddd,30px); }
.app_tag_item.curr { border: 1px solid #f23030; color: #f23030; }
.app_tag_item.curr::after { border: 0; }

.app-tab-head-cursor { background: #f23030; }
.app-tab-head .curr .app-tab-title { color: #f23030; }

/*
业务缩写:

公共组件
.app_ {}

登录
.lo_ {}

首页
.ho_ {}

商详页
.it_ {}

订单页
.od_ {}

地址列表
.adl_ {}

用户中心（我的）
.uc_ {}

用户设置
.us_ {}

编辑用户信息
.ue_ {}
*/

/* 登录 */
.lo_header::after { border: none; }
.lo_form_item { padding: 10px 5px; margin: 15px; }
.lo_form_item input { border: 0; font-size: 13px; width: 100%; }
.lo_form_item .verify_code_btn { border: 0; font-size: 13px; color: #f23030; }
.lo_form_item::after { border-color: #f23030; }

.lo_login_footer { margin: 35px 15px 0 15px; }
.lo_login_btn { @extend .app-button-gradient; }

/* 用户中心（我的） */
.uc_header { background-color: transparent; }
.uc_header::after { border: none; }
.uc_header .app-header-right button { padding: 10px 5px; font-size: 22px; color: #666; }
.uc_header .app-header-right button:first-child { padding-left: 10px; }
.uc_header .app-header-right button:last-child { padding-right: 10px; }

/* 用户设置 */
.us_to_edit {}

/* 商详页 */
.it_main .app-scroller-container { padding-bottom: 10px; }

.it_pictures_more { position: absolute; right: -60px; top: 50%; transform: translateY(-50%); z-index: 100; }
.it_pictures_more .text { width: 20px; }
.it_pictures_more .iconfont { width: 20px; height: 20px; border: 2px solid #666; border-radius: 50%; font-weight: bold; color: #666; }
.it_pictures_view_more { color: #fff; right: -60px; }
.it_pictures_view_more .iconfont { color: #fff; border-color: #fff; }

.it_money { background: #fff; padding: 8px 10px; }
.it_money_price { color: #f23030; font-weight: bold; }
.it_money_price .price { vertical-align: bottom; }
.it_money_price .price i { font-size: 18px; vertical-align: bottom; line-height: 21px; }
.it_money_price .price em { font-size: 12px; vertical-align: bottom; }
.it_money_price .price::before { content: '￥'; font-size: 12px; vertical-align: bottom; }
.it_money_sales { font-size: 11px; color: #999; }

.it_title { background: #fff; padding: 5px 0 10px 10px; }
.it_title .tit { font-size: 14px; }
.it_title .fav { padding-left: 10px; padding-right: 10px; margin-left: 10px; }
.it_title .fav::after { border-color: #eee; top: 10%; bottom: -90%; }
.it_title .fav .iconfont { font-size: 19px; }
.it_title .fav p { font-size: 9px; font-weight: 200; }

.it_infobar { background-color: #fff; padding-left: 10px; padding-right: 10px; font-size: 13px; }
.it_infobar_hd { padding-right: 10px; color: #999; font-size: 12px; }

.it_postinfo { margin-top: 10px; @extend .it_infobar; padding: 10px; }
.it_postinfo .postinfo { padding-top: 10px; }
.it_postinfo .hd { @extend .it_infobar_hd; }

.it_serv_tags { padding: 6px 10px 1px 10px; background: #fff; font-size: 10px; font-weight: 200; }
.it_serv_tags li { float: left; margin-right: 10px; padding-bottom: 5px; }
.it_serv_tags .iconfont { font-size: 12px; color: #f23030; margin-right: 4px; }

.it_spec_select { height: 42px; margin-top: 10px; @extend .it_infobar; }
.it_spec_select .hd { @extend .it_infobar_hd; }

.it_spec_select_modal_info { padding: 10px; }
.it_spec_select_modal_info .logo { width: 90px; height: 90px; }
.it_spec_select_modal_info .info { margin-left: 10px; }
.it_spec_select_modal_info .price { font-size: 16px; color: #f23030; padding-bottom: 10px; }
.it_spec_select_modal_info .price::before { content: '￥'; font-size: 12px; }
.it_spec_select_modal_info .select { font-size: 13px; }
.it_spec_select_modal_info .select .label { font-size: 13px; color: #999; padding-right: 6px; }
.it_spec_select_modal_info .icon-close { position: absolute; right: 0px; top: 0px; padding: 10px; font-size: 16px; }
.it_spec_select_modal_props { padding: 0 0 10px 0; }
.it_spec_select_modal_props_hd { padding: 10px 0 0 10px; font-size: 13px; }
.it_spec_select_modal_props_item { display: inline-block; height: 30px; font-size: 12px; padding: 0 10px; border-radius: 10px; color: #333; background-color: #f7f7f7; margin: 10px 0 0 10px; }
.it_spec_select_modal_props_item.curr { background: linear-gradient(-41deg,#ff4f18,#ff2000 24%,#f10000); color: #fff; }
.it_spec_select_modal_num { padding: 10px 10px 0 0; }
.it_spec_select_modal_num .label { font-size: 13px; color: #333; padding: 0 0 0 10px; }
.it_spec_select_modal_ft { height: 45px; padding: 0 5px; }
.it_spec_select_modal_ft button { height: 35px; background-color: #f23030; color: #fff; font-size: 13px; border-radius: 35px; margin: 0 5px; }
.it_spec_select_modal_ft button.btn_cart { background-color: #ffa001; }

.it_spu_props_modal_hd { height: 40px; font-size: 14px; }
.it_spu_props_modal_bd { padding: 0 10px; }
.it_spu_props_modal_item { padding: 10px; font-size: 13px; }
.it_spu_props_modal_item .label { font-size: 12px; color: #999; margin-right: 10px; width: 70px; }
.it_spu_props_modal_item::after { border-color: #eee; }
.it_spu_props_modal_item:last-child::after { border: none; }
.it_spu_props_modal_ft { height: 45px; text-align: center; }
.it_spu_props_modal_ok_btn { height: 35px; width: 80%; background-color: #f23030; color: #fff; margin-top: 5px; border-radius: 35px; }

.it_props { height: 42px; @extend .it_infobar; }
.it_props::after { left: 10px; border-color: #eee; }

.it_comments { margin-top: 10px; @extend .it_infobar; }
.it_comments::after { border-color: #eee; }
.it_comments_hd { height: 42px; }
.it_comments_hd .more { font-size: 12px; color: #f23030; }

.it_qa { @extend .it_infobar; }
.it_qa_hd { height: 42px; }
.it_qa_nodata { padding-bottom: 15px; }
.it_qa_nodata .con { color: #999; font-size: 12px; }

.it_shop { @extend .it_infobar; margin-top: 10px; padding: 10px; }
.it_shop_base .logo { height: 48px; width: 48px; }
.it_shop_base .name { margin-left: 8px; }
.it_shop_base .btns button { margin-left: 8px; }
.it_shop_serv { font-size: 12px; color: #999; padding: 10px 0 0 0; }
.it_shop_serv i { font-size: 10px; border-radius: 50%; background: #eee; display: inline-block; width: 12px; height: 12px; line-height: 11px; text-align: center; }

.it_shop_recommends { @extend .it_infobar; margin-top: 10px; padding: 0; }
.it_shop_recommends_hd { height: 42px; padding: 0 10px; }
.it_shop_recommends_hd .tit { font-weight: bold; }
.it_shop_recommends_hd .more { color: #999; font-size: 12px; }
.it_shop_recommends_items { padding-left: 10px; }
.it_shop_recommends_item { float: left; width: 33%; padding: 0px 5px 10px 0; }
.it_shop_recommends_item .img { width: 1.15rem; height: 1.1rem; display: block; border-radius: 4px; }
.it_shop_recommends_item .title { height: 36px; line-height: 18px; display: block; font-size: 12px; margin: 5px 0; }
.it_shop_recommends_item .price { color: #f23030; height: 20px; }
.it_shop_recommends_item .price::before { content: '￥'; font-size: 13px; }
.it_shop_recommends_item .price span { font-size: 16px; }

.it_detail_tit { font-size: 13px; height: 36px; }
.it_detail_tit .bd_b:first-child { margin-left: 40px; }
.it_detail_tit .bd_b:last-child { margin-right: 40px; }
.it_detail_tit .tit { padding: 0 10px; color: #000; font-weight: bold; }
.it_detail_con { width: 100%; background: #fff; padding: 10px 6px; font-size: 14px; }
.it_detail_con img { display: block; width: 100%; }

.it_footer { height: 50px; position: absolute; bottom: 0; background-color: #fff; z-index: 101; width: 100%; padding-left: 10px; }
.it_footer .iconbtn { width: .5rem; text-align: center; color: #666; }
.it_footer .iconbtn .iconfont { font-size: 18px; }
.it_footer .iconbtn .name { font-size: 10px; margin-top: 3px; }
.it_footer .cartNum { position: absolute; right: 0; top: 0; background-color: #f23030; color: #fff; font-size: 10px; border-radius: 12px; height: 13px; line-height: 10px; padding: 1px 4px; }
.it_footer .btnwrap { height: 100%; }
.it_footer .btn_cart, .it_footer .btn_buy { background-image: linear-gradient(90deg,#ffca28,#ffa001 98%); width: 100%; height: 100%; color: #fff; font-size: 16px; }
.it_footer .btn_buy { background-image: linear-gradient(90deg,#ff4700,#f23030); }

.it_footer ~ .app-main { bottom: 50px; }

/* 购物车 */
.ca_header { background: $app_bgc; }
.ca_header::after { display: none; }
.ca_header_edit { color: #333; font-size: 13px; padding-right: 10px; }
.ca_header_title { margin-left: 44px; font-size: 16px; }
.ca_fixed { background-color: $app_bgc; height: 40px; z-index: 1000; margin: 0 8px; }

.ca_total_count { line-height: 22px; font-size: 12px; padding-left: 10px; color: #999; }

.ca_main { background-color: $app_bgc; }
.ca_main .app-scroller-container { padding: 10px 0 0 0; }
.ca_store { @extend .app-card; }
.ca_store_tit { height: 40px; padding: 0 10px; background: #fff; border-top-right-radius: 8px; border-top-left-radius: 8px; }
.ca_store_info .logo { display: block; width: 20px; height: 20px; margin-left: 10px; }
.ca_store_info .name { font-size: 14px; margin-left: 4px; }
.ca_store_info .iconfont { color: #aaa; }

.ca_item { padding: 8px 10px; margin-bottom: 5px; }
.ca_item img { width: 72px; height: 72px; display: block; margin-left: 8px; border-radius: 4px; }
.ca_item .con { margin-left: 10px; }
.ca_item .con .tit { font-size: 13px; }

.ca_item .spec { margin-top: 8px; display: inline-block; border-radius: 2px; background-color: #f9f9f9; color: #aaa; font-size: 12px; padding: 2px 16px 2px 6px; line-height: 18px; position: relative; }
.ca_item .spec .name { max-height: 36px; }
.ca_item .spec .icon-arrow-down { color: #aaa; position: absolute; right: 0px; top: 50%; margin-top: -9px; }
.ca_item .ft { margin-top: 10px; }
.ca_item .price { font-size: 16px; color: #f23030; }
.ca_item .price::before { content: '￥'; }
.ca_item .app-choose-number .minus, .ca_item .app-choose-number .plus { height: 25px; width: 25px; }
.ca_item .app-choose-number input { height: 25px; width: 40px; }

.ca_footer { height: 50px; position: absolute; bottom: 0; background-color: #fff; z-index: 101; width: 100%; padding-left: 10px; }
.ca_footer_checkall { font-size: 12px; margin-left: 8px; color: #666; }
.ca_footer_total { margin-left: 20px; }
.ca_footer_total .hd { font-size: 16px; }
.ca_footer_total .price { font-size: 14px; margin-left: 3px; }
.ca_footer_total .price::before { content: '￥'; }
.ca_footer .btn_checkout { height: 50px; width: 1.2rem; font-size: 14px; background-image: linear-gradient(90deg,#ff4700,#f23030); color: #fff; }

.ca_footer ~ .app-main { bottom: 50px; }

/* 订单 */
.od_wrap { background: $app_bgc; }
.od_main .app-scroller-container { padding: 10px 0 0 0; }

.od_header { background: $app_bgc; }
.od_header::after { display: none; }
.od_header_title { margin-left: 44px; font-size: 16px; }

.od_footer { height: 50px; background: #fff; position: absolute; bottom: 0; width: 100%; }
.od_footer ~ .app-main { bottom: 50px; }
.od_footer .total { color: #f23030; padding-left: 10px; font-size: 18px; }
.od_footer .total::before { content: '￥'; font-size: 14px; }

.od_submit { height: 50px; width: 1.2rem; font-size: 16px; background-image: linear-gradient(90deg,#ff4700,#f23030); color: #fff; }

.od_address { padding-left: 8px; padding-right: 8px; }
.od_address_info { padding: 15px 0; }
.od_address_info .icon-loc { padding-left: 8px; font-size: 24px; color: #f23030; }
.od_address_info .name { font-size: 14px; }
.od_address_info .mobile { font-size: 13px; padding-left: 8px; color: #999; }
.od_address_info .detail { font-size: 12px; padding-top: 6px; }

.od_no_address { height: 40px; font-size: 12px; padding-left: 8px; }
.od_no_address .icon-add { font-size: 16px; line-height: 18px; color: #fff; width: 18px; height: 18px; text-align: center; border-radius: 1px; background: #f23030; margin-right: 8px; }

.od_store_tit { height: 40px; padding-left: 10px; }
.od_store_tit .logo { display: block; width: 20px; height: 20px; }
.od_store_tit .name { font-size: 14px; margin-left: 6px; }

.od_item { padding: 6px 10px 8px 10px; margin-bottom: 4px; }
.od_item img { width: 72px; height: 72px; display: block; margin-left: 8px; border-radius: 4px; }
.od_item .con { margin-left: 10px; }
.od_item .con .tit { font-size: 12px; }

.od_item .spec { margin-top: 8px; display: inline-block; border-radius: 2px; background-color: #f9f9f9; color: #aaa; font-size: 11px; padding: 2px 6px 2px 6px; line-height: 16px; position: relative; }
.od_item .spec .name { max-height: 36px; }
.od_item .spec .icon-arrow-down { color: #aaa; position: absolute; right: 0px; top: 50%; margin-top: -9px; }
.od_item .ft { margin-left: 10px; }
.od_item .price { font-size: 14px; color: #f23030; }
.od_item .price::before { content: '￥'; font-size: 12px; }
.od_item .num { color: #999; font-size: 12px; }

.od_store_orderinfo { padding: 0 8px; }
.od_store_summary { padding: 0 10px 10px 0; font-size: 13px; }
.od_store_summary .num { color: #999; margin-right: 5px; font-size: 12px; }
.od_store_summary .price { color: #f23030; margin-right: 5px; }
.od_store_summary .price::before { content: '￥'; font-size: 12px; }

.od_orderinfo { padding: 8px 0px; }

.od_orderinfo_bar { font-size: 12px; padding: 6px 10px; }
.od_orderinfo_bar .hd { padding-left: 10px; }
.od_orderinfo_bar .bd { padding-left: 10px; }
.od_orderinfo_bar .note { border: 0; font-size: 13px; margin-top: -2px; }

/* 发票 */
.iv_confirm { display: block; width: 90%; margin: 6px 5% 0 5%; height: 36px; border-radius: 20px; text-align: center; background-image: linear-gradient(90deg,#ff4700,#f23030); color: #fff; font-size: 14px; }
.iv_wrap .app_form_label { width: 75px; padding-right: 10px; }
.iv_list_hd { position: relative; }
.iv_list_hd .tit { text-align: center; font-size: 14px; padding: 10px; }
.iv_list_hd .icon-close { position: absolute; right: 0; top: 0; padding: 10px; }
.iv_list_item { margin: 10px; padding-bottom: 10px; }
.iv_list_item::after { border-color: #eee; }
.iv_list_item .tag { background: #f9dcdc; color: #f23030; height: 20px; padding: 0 6px; border-radius: 4px; margin: 2px 8px 0 0; }
.iv_list_item .tit { font-size: 14px; }
.iv_list_item .taxCode { font-size: 13px; color: #999; padding-top: 8px; }

/* 地址列表 */
.adl_new { font-size: 12px; }
.adl_item { background: #fff; padding: 10px 0px 10px 10px; }
.adl_item::after { border-color: #f1f1f1; }
.adl_item .hd { font-size: 14px; color: #000; }
.adl_item .mobile { margin-left: 25px; }
.adl_item .tag { background: #f23030; padding: 0 5px; border-radius: 10px; color: #fff; margin-left: 10px; }
.adl_item .detail { font-size: 12px; padding-top: 4px; }
.adl_item .icon-edit { padding: 10px; }

.adr_save { color: #f23030; font-size: 12px; }
.adr_default { font-size: 13px; }

/* 地址选择*/
.adr_district_select_hd { height: 40px; }
.adr_district_select_hd .icon-back { padding: 10px 8px; font-size: 18px; }
.adr_district_select_hd .icon-close { padding: 12px 8px; }
.adr_district_select_result { height: 35px; font-size: 14px; padding-left: 10px; }
.adr_district_select_result > div { margin-right: 15px; height: 35px; line-height: 35px; }
.adr_district_select_result .curr { color: #f23030; border-bottom: 2px solid #f23030; }
.adr_district_select_list { height: 400px; position: relative; }
.adr_district_select_list_item { height: 35px; line-height: 30px; font-size: 13px; padding-left: 10px; }
.adr_district_select_list_item.curr { color: #f23030 }

.adr_address_select_item { padding: 14px 10px 14px 6px; font-size: 14px; margin-left: 6px; }
.adr_address_select_item.selected { color: #f23030; font-weight: bold; }
.adr_address_select_item::after { border-color: #eee; }
.adr_address_select_item .con { padding-left: 5px; }
.adr_address_select_ft { height: 50px; padding: 8px 10px; }

/* 订单支付页(收银台) */
.op_tips { margin-bottom: 10px; height: 35px; padding: 0 10px; font-size: 14px; background: #fdf0f0; }
.op_tips .amount { color: #f23030; }
.op_tips .amount::before { content: '￥'; font-size: 12px; }
.op_countdown span { background: #000; color: #fff; border-radius: 2px; padding: 0 2px; font-size: 12px; margin: 0 1px; }
.op_countdown span:first-child { margin-left: 5px; }
.op_countdown span:last-child { margin-right: 5px; }
.od_paytypes { padding: 10px 12px; }
.od_paytypes_tit { font-size: 14px; font-weight: bold; }
.od_paytypes_item { padding: 8px 0; }
.od_paytypes_item .con { font-size: 14px; padding-left: 10px; }
.od_paytypes_item .tip { font-size: 13px; color: #999; }
.op_footer { position: absolute; bottom: 0; width: 100%; height: 50px; padding: 6px 10px; z-index: 101; }
.op_footer + .app-main { bottom: 50px; }

/* 订单列表 */
.ol_header::after { display: none; }
.ol_tabs .app-tab-head { font-size: 12px; height: 40px; }
.ol_tabs .app-tab-body { top: 40px; }
.ol_orderlist { background: #f4f4f4; }
.ol_orderlist_item { background: #fff; margin-bottom: 10px; }
.ol_seller_order::after { border-color: #eee; }
.ol_seller { font-size: 14px; height: 35px; padding: 0 10px; }
.ol_seller .logo { height: 20px; width: 20px; margin: 0 10px 0 0; }
.ol_seller .status { font-size: 12px; color: #f23030; }
.ol_seller_skus { padding: 10px; background: #fcfcfc; }
.ol_seller_sku { margin-bottom: 8px; }
.ol_seller_sku:last-child { margin-bottom: 0; }
.ol_seller_sku .pic { width: 70px; height: 70px; margin-right: 10px; }
.ol_seller_sku .title { font-size: 14px; max-height: 36px; line-height: 18px; }
.ol_seller_sku .spec { font-size: 12px; color: #999; margin-top: 4px; }
.ol_seller_sku .num { font-size: 12px; color: #999; }
.ol_seller_sku .price { font-size: 14px; }
.ol_seller_sku .price::before { content: '￥'; font-size: 12px; }
.ol_orderlist_item .summary { height: 32px; line-height: 32px; font-size: 12px; padding-right: 10px; }
.ol_orderlist_item .summary .amount { font-size: 14px; font-weight: bold; }
.ol_orderlist_item .summary .amount::before { content: '￥'; font-size: 12px; }
.ol_orderlist_item .ft { padding: 10px; }
.ol_orderlist_item .ft::after { border-color: #eee; }
.ol_orderlist_item .ft button { height: 25px; position: relative; padding: 0 10px; margin-left: 8px; min-width: 80px; }
.ol_orderlist_item .ft button::after { @include border(#ccc, 25px); }
.ol_orderlist_item .ft button.primary { color: #f23030; }
.ol_orderlist_item .ft button.primary::after { border-color: #f23030; }

/* 订单详情 */
.oi_status { margin-bottom: 10px; padding: 10px; font-size: 14px; background: #fdf0f0; }
.oi_status_name { font-size: 14px; font-weight: bold; }

.oi_address { background-color: #fff; margin-bottom: 10px; padding-left: 8px; padding-right: 8px; }
.oi_address_info { padding: 15px 0; }
.oi_address_info .icon-loc { padding-left: 8px; font-size: 24px; color: #f23030; }
.oi_address_info .name { font-size: 14px; }
.oi_address_info .mobile { font-size: 13px; padding-left: 8px; color: #999; }
.oi_address_info .detail { font-size: 12px; padding-top: 6px; }

.oi_store { background-color: #fff; margin-bottom: 10px; }
.oi_store_tit { height: 40px; padding: 0 10px; }
.oi_store_tit .logo { display: block; width: 20px; height: 20px; }
.oi_store_tit .name { font-size: 14px; margin-left: 6px; }

.oi_item { padding: 4px 10px 8px 10px; }
.oi_item img { width: 72px; height: 72px; display: block; margin-left: 8px; border-radius: 4px; }
.oi_item .con { margin-left: 10px; position: relative; }
.oi_item .con .tit { font-size: 12px; }

.oi_item .spec { margin-top: 8px; display: inline-block; border-radius: 2px; color: #aaa; font-size: 11px; line-height: 16px; position: relative; }
.oi_item .spec .name { max-height: 36px; }
.oi_item .spec .icon-arrow-down { color: #aaa; position: absolute; right: 0px; top: 50%; margin-top: -9px; }
.oi_item .price { font-size: 14px; color: #f23030; }
.oi_item .price::before { content: '￥'; font-size: 12px; }
.oi_item .num { color: #999; font-size: 12px; }
.oi_item .buttons { text-align: right; }
.oi_item .buttons button { font-size: 12px; height: 26px; position: relative; padding: 0 10px; margin-left: 8px; }
.oi_item .buttons button::after { @include border(#ddd, 26px); }

.oi_store_orderinfo { padding: 0 8px; }
.oi_service { margin: 4px -8px 0 -8px; }
.oi_service::after { border-color: #eee; }
.oi_service_btn { width: 100%; height: 38px; font-size: 13px; }

.oi_orderinfo_bar { font-size: 12px; padding: 3px 0px; }
.oi_orderinfo_bar .hd { padding-left: 10px; }
.oi_orderinfo_bar .bd { padding-left: 10px; }
.oi_orderinfo_bar .note { margin-left: 6px; color: #999; }

.oi_orderinfo { font-size: 13px; padding: 10px 15px; background: #fff; margin-bottom: 10px; }
.oi_orderinfo_item { padding: 4px 0; }
.oi_orderinfo_item > b { font-weight: 400; color: #000; display: inline-block; width: 70px; }
.oi_orderinfo_item > span { color: #666; }
.oi_orderinfo_item .price::before { content: '￥'; font-size: 12px; vertical-align: bottom; }
.oi_total_pay { padding: 6px 15px 2px 15px; margin: 6px -15px 0 -15px; }
.oi_total_pay::after { border-color: #eee; }
.oi_total_pay .price { color: #f23030; font-weight: bold; font-size: 16px; }
.oi_total_pay .price::before { content: '￥'; font-size: 12px; vertical-align: bottom; }

.oi_footer { position: absolute; bottom: 0; width: 100%; height: 50px; z-index: 101; text-align: right; background-color: #fff; }
.oi_footer ~ .app-main { bottom: 50px; }
.oi_footer button { padding: 0 12px; height: 28px; margin: 0 10px 0 0; border-radius: 28px; min-width: 80px; position: relative; }
.oi_footer button::after { @include border(#ccc, 28px); }

.oi_footer .oi_submit {
    background-image: linear-gradient(90deg,#ff4700,#f23030); color: #fff;
    &::after { display: none; }
}