.icons-weipay:before,.icons-alipay:before,.icons-weipay-rem:before,.icons-alipay-rem:before{background-image: url("sprite-icons.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 24px 42px;}
.icons-weipay-rem:before,.icons-alipay-rem:before{background-size: 0.24rem 0.42rem;}
.icons-weipay:before{background-position: -0px -0px; width: 22px; height: 20px;}
.icons-weipay-rem:before{background-position: -0rem -0rem; width: 0.22rem; height: 0.2rem;}
.icons-alipay:before{background-position: -0px -20px; width: 24px; height: 22px;}
.icons-alipay-rem:before{background-position: -0rem -0.2rem; width: 0.24rem; height: 0.22rem;}
